.menu1{
    height:40px;
    line-height:40px;
    letter-spacing:1px;
    width:100%;
}

#header {
    background-color: #e3f9fa;
    padding-top: 7px;
    position: relative;
    z-index: 5;
}

#top_menu {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#top_menu .right_bg {
    top: 0;
    right: 0;
    border-radius: 13px 0 0 13px;
    height: 100%;
    width: 48%;
    background: #02c2db;
    background: -moz-linear-gradient(top, #02c2db 0%, #02a1ba 100%);
    background: -webkit-linear-gradient(top, #02c2db 0%, #02a1ba 100%);
    background: linear-gradient(to bottom, #02c2db 0%, #02a1ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02c2db', endColorstr='#02a1ba', GradientType=0);
}

#top_menu .nav-link {
    padding: 0.5rem 0rem;
}

#top_menu .navbar {
    /* z-index: 1050; */
    position: relative;
    background-color: white;
}

#menu_first_part {
    list-style: none;
}

#menu_first_part li {
    background-color: #02b5cd;
    border-radius: 13px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    padding: 0px 28px 0px;
}

#menu_first_part li a {
    color: white;
}

#menu_last_part {
    z-index: 1;
}

#menu_last_part li {
    background: #fbfdfd;
    background: -moz-linear-gradient(top, #fbfdfd 0%, #ceebeb 100%);
    background: -webkit-linear-gradient(top, #fbfdfd 0%, #ceebeb 100%);
    background: linear-gradient(to bottom, #fbfdfd 0%, #ceebeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfdfd', endColorstr='#ceebeb', GradientType=0);
    border-radius: 13px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    padding: 0px 32px 0px;
    color: #00839b;
    position: relative;
    z-index: 1;
}

#menu_first_part .first_btn {
    background: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

#menu_first_part .first_btn i {
    position: relative;
    top: 2px;
}

#menu_first_part .first_btn:after {
    display: none;
}

#menu_first_part .dropdown-menu {
    top: 65px;
    border: 1px solid #cae3e3;
    color: #02a6bf;
    left: 15px;
    z-index: 1050;
}

#menu_first_part .dropdown-menu a {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

#menu_first_part .menu_opros {
    border: 2px solid;
    border-radius: 10px;
    color: white;
    background-color: #02b5ce;
}

#menu_first_part .menu_opros h4 {
    color: white;
    font-size: 20px;
}

#menu_first_part .menu_opros ul {
    list-style: none;
}

#menu_first_part .menu_opros label {
    font-size: 14px;
}

#menu_first_part .menu_opros li {
    padding: 0;
}

#footer .top_footer {
    background-color: #055e7c;
}

#footer .top_footer .bottom_logo a {
    font-size: 23px;
    color: white;
    font-weight: 900;
}

#footer .path {
    color: white;
}

#footer .path small {
    font-size: 14px;
}

#footer .path p {
    font-size: 18px;
    font-weight: 600;
}

#footer .path a {
    font-size: 17px;
    color: #1ec9e0;
    text-decoration: underline;
    transition: 1s;
    font-weight: 900;
}

#footer .path a:hover {
    color: white;
}

#footer .path b {
    font-size: 17px;
    color: #1ec9e1;
}

#footer a.dropdown-item {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#footer a.dropdown-item:hover {
    color: black;
    text-decoration: underline;
}

#footer .bottom_urls a {
    background: #02c1da;
    background: -moz-linear-gradient(top, #02c1da 0%, #02a4bc 100%);
    background: -webkit-linear-gradient(top, #02c1da 0%, #02a4bc 100%);
    background: linear-gradient(to bottom, #02c1da 0%, #02a4bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02c1da', endColorstr='#02a4bc', GradientType=0);
    color: white;
    font-size: 15px;
    font-weight: 900;
    border-radius: 15px;
    width: 100%;
}

#footer .bottom_footer {
    background-color: #02a1b9;
}

#footer .bottom_footer a,
#footer .bottom_footer span {
    font-size: 14px;
    color: white;
    font-weight: 600;
}

#mobile-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #00889c;
    color: #fff;
    z-index: 9999;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    padding: 0 10px;
}

#mobile-header a {
    color: #fff;
    font-size: 32px;
    line-height: 44px;
}



.express_btn_v3 {
    transition: 0.3s;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    border-top: none;
    background: #02c1da;
    background: -moz-linear-gradient(top, #02c1da 0%, #02a4bc 100%);
    background: -webkit-linear-gradient(top, #02c1da 0%, #02a4bc 100%);
    background: linear-gradient(to bottom, #02c1da 0%, #02a4bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02c1da', endColorstr='#02a4bc', GradientType=0);
}

.social {
    list-style-type: none;
    padding: 0;
    margin: 25px 0 0;
}

.social li {
    display: inline-block;
    margin: 0 10px;
}

.social li a {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.social li a:hover {
    color: #1ec9e1 !important;
}

.city_changer {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #cae3e3;
    color: black;
    font-weight: 700;
}

.city_changer_label {
    font-weight: 700;
    margin-top: 10px;
    margin-left: 15px;
}

.city_changer:after {
    display: none;
}

.city_changer i {
    margin: 0px 0 0 17px;
    position: relative;
    top: 2px;
    color: #02bdd4;
}

.express_btn {
    border-radius: 15px;
    color: white;
    font-weight: 700;
    background: #02a7bf;
    background: -moz-linear-gradient(top, #02a7bf 0%, #006170 100%);
    background: -webkit-linear-gradient(top, #02a7bf 0%, #006170 100%);
    background: linear-gradient(to bottom, #02a7bf 0%, #006170 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02a7bf', endColorstr='#006170', GradientType=0);
    border-top: none;
    transition: 0.3s;
}
@media (max-width: 600px)
{
    header
    {
        padding-top: 24px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 24px;
    }
}

.scroll
{
    background-color: #fff;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.16);
    padding: 16px 0;
}

.scroll .button__wrap .phone
{
    display: none;
}

/*header button{
    margin-left: auto;
    margin-right: 0;
    flex-shrink: 0;
}*/
.menu
{
    margin-right: 45px;
}

@media (max-width: 600px)
{
    #navbarCollapse
    {
        position: absolute;
        left: -30px;
        top: 72px;
        z-index: 444;
        text-align: center;
        background-color: rgba(255, 255, 255, .8);
        width: calc(100% + 60px);
        padding-bottom: 20px;
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(10px);
    }

    .menu
    {
        flex-direction: column;
    }

    .menu li
    {
        margin-right: 0 !important;
        font-size: 22px;
        font-weight: 400;
        line-height: 21px;
        padding: 20px 0;
    }
}

.menu li:last-child
{
    margin-right: 0;
}

.menu li
{
    margin-right: 16px;

}

.menu li a
{
    border-bottom: 1px solid rgba(20, 51, 82, 0.25);
}

.menu li a:active,
.menu .active_item a
{
    color: #6aa9de;
    border-bottom: 1px solid #6aa9de;
}

.menu li a:hover
{
    border-bottom: 1px solid #6aa9de;
}

.phone
{
    right: 35px;
    bottom: -34px;
    font-family: Charter;
    font-size: 1.125rem;
    font-weight: 700;
}

.bgcg
{
    background-repeat: no-repeat;
    background-image: url(../img/png/greycurcle.png);
    -ms-background-position-x: -370px;
    background-position-x: -370px;
    -ms-background-position-y: center;
    background-position-y: center;
}

.bgcb
{
    background-repeat: no-repeat;
    background-image: url(../img/png/bluecurcle.png);
    -ms-background-position-x: 90vw;
    background-position-x: 90vw;
    -ms-background-position-y: 0%;
    background-position-y: 0%;
}

.mainslide
{
    padding-top: 86px;
    padding-bottom: 99px;
    position: relative;
}

@media (max-width: 600px)
{
    .mainslide
    {
        padding-top: 44px;
        text-align: center;
        padding-bottom: 30px;
    }
}

.mainslide__desc
{
    font-family: var(--ff-charter);
    font-size: 1.5625rem;
    line-height: 2.0625rem;
    padding-top: 14px;
    padding-bottom: 21px;
}

.mainslide button
{
    margin-top: 56px;
}

@media (max-width: 600px)
{
    .mainslide button
    {
        margin-top: 255px;
    }
}

.mainslide__number__box
{
    /*padding-right: 96px;*/
    position: relative;
}

@media (max-width: 600px)
{
    .mainslide__number__box
    {
        position: absolute;
        top: 420px;
        left: 0;
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.mainslide:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    content: '';
    background-image: url(../img/jpg/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.mainslide__number
{
    font-size: 231px;
    font-weight: 700;
    font-family: var(--ff-charter);
    line-height: .87;
    z-index: 2;
    position: relative;
}

@media (max-width: 600px)
{
    .mainslide__number
    {
        font-size: 99px;
        font-weight: 700;
        line-height: 116px;
        padding-left: 14px;
    }

}

.mainslide__number__desc
{
    color: var(--c-blue);
    font-family: var(--ff-charter);
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    padding-top: 22px;
    z-index: 2;
    position: relative;
}

@media (max-width: 600px)
{
    .mainslide__number__desc
    {
        font-size: 28px;
        font-weight: 700;
        line-height: 37px;
        text-align: left;
        padding-left: 20px;
    }
}

.social a
{
    font-size: 34px;
    line-height: 51px;
}

.mainslide__socialBox
{
    margin-top: 70px;
    border-top: 2px dashed rgba(20, 51, 82, 0.2);
    padding-top: 14px;
}

@media (max-width: 600px)
{
    .mainslide__socialBox
    {
        display: none;
    }
}

.mainslide__socialBox .social__vk
{
    margin-top: 2px;
    display: inline-block;
    margin-right: 23px;
}

.about
{
    padding-top: 65px;
    padding-bottom: 45px;

}

.about h2
{
    padding-top: 22px;
    padding-bottom: 18px;
}

.about .btn_t
{
    margin-top: 6px;
}

.about img
{
    margin-left: 52px;
}

@media (max-width: 600px)
{
    .about img
    {
        margin-left: 0;
        margin-top: 33px;
    }
}

.about__videoBtnBox
{
    position: absolute;
    bottom: 53px;
    left: 56%;
    transform: translateX(-50%);
    display: flex;
}

.about .fa-youtube
{
    font-size: 53px;
    color: #e34a73;
    margin-right: 20px;
}

.about .about__videolink
{
    padding-top: 8px;
    font-size: 18px;
}

.gallery
{
    padding-bottom: 100px;
}

.gallery h2
{
    padding-top: 30px;
    padding-bottom: 19px;
}

.gallery__item
{
    margin-bottom: 20px;
    position: relative;
}

.gallery a:hover .gallery__item__eye
{
    opacity: 1;
}

.gallery a
{
    position: relative;
    width: 100%;
    height: 93%;
    top: 0;
    display: block;
}

.gallery__item__eye
{
    opacity: 0;
    transition: opacity .15s ease-in;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--c-blue);
}

.gallery a .far
{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translateX(-50%);
    font-size: 20px;
}

.gallery__item__eye__img
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;

}

.gallery__green
{
    /*-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 56% 75%, 48% 8%, 41% 75%, 0% 75%);*/
    /*clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 56% 75%, 50% 84%, 43% 75%, 0% 75%);*/
    background-color: var(--c-green);
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 20px;
    padding-top: 11px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin-right: 42px;
    margin-left: 42px;
    height: 140px;
}

.gallery__green:before
{
    content: '';
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--c-green);
    -webkit-clip-path: polygon(50% 100%, 0 0, 99% 0);
    clip-path: polygon(50% 100%, 0 0, 99% 0);
    width: 26px;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
    height: 14px;
}

.gallery__green__img
{
    margin-bottom: -115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: auto;
    display: block;
}

.gallery__green__title
{
    font-family: var(--ff-charter);
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
}

.gallery__green__desc
{
    font-size: 12px;
}

.methodic
{
    padding-bottom: 65px;
    -ms-background-position-y: center;
    background-position-y: center;
}

.methodic p.font-italic
{
    margin-bottom: 36px;
}

.methodic h2
{
    padding-bottom: 18px;
}

.counter
{
    margin-top: 39px;
    margin-bottom: 34px;
    margin-right: 72px;
    margin-left: 73px;

}

.counter__number
{
    padding-top: 54px;
    color: var(--c-blue);
    font-family: var(--ff-charter);
    font-size: 80px;
    font-weight: 700;
    position: relative;
}

.counter__numberDesc
{
    padding-bottom: 2px;
    position: relative;

}

.counter .one
{
    padding-right: 125px;
}

.counter .two
{
    margin-left: -81px;

    margin-left: -113px;
    max-width: 27%;
    flex-basis: 30%;
}

.counter .tree
{
    margin-left: -39px;
    max-width: 30%;
    flex-basis: 30%;
}

.counter .four
{
    margin-right: -60px;
    margin-top: -35px;
    margin-bottom: -35px;
    max-width: 27%;
    flex-basis: 27%;
    padding: 45px 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.counter .four,
.counter .tree,
.counter .two,
.counter .one
{
    position: relative;
}

.counter .tree:before,
.counter .two:before,
.counter .one:before
{
    position: absolute;
    content: '';
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/svg/xx.svg);
    background-size: contain;
    opacity: .75;
}

.counter .one:before
{
    width: 141px;
    height: 149px;
    top: 15%;
    left: 1%;
}

.counter .two:before
{
    width: 162px;
    height: 172px;
    top: 5%;
    left: 29%;
    transform: rotate(190deg);

}

.counter .tree:before
{
    width: 151px;
    height: 149px;
    top: 10%;
    left: 25%;
    transform: rotate(130deg);
}

.counter__numberBox__title
{
    color: var(--c-blue);
    font-family: var(--ff-charter);
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 13px;
}

.counter__numberBox__titleDesc
{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7px;
}

.simulators
{
    padding-top: 67px;
    padding-top: 90px;
    padding-bottom: 117px;
}

.simulators h2
{
    padding-bottom: 19px;
}

.simulators__number
{
    margin-top: -56px;
    margin-bottom: -40px;
    color: var(--c-blue);
    font-family: var(--ff-charter);
    font-size: 175px;
    font-weight: 700;
}

.simulators__slider
{
    display: flex;
    padding-top: 89px;
    padding-bottom: 25px;
}

.simulators__slider__item
{
    text-align: center;
}

.simulators__slider__item img
{
    width: 100%;
}

.simulators__slider__title
{
    color: var(--c-blue);
    font-family: var(--ff-charter);
    font-weight: 700;
    font-size: 20px;
}

.simulators__slider__desc
{
    color: var(--c-blue);
    font-family: var(--ff-charter);
    font-size: 27px;
    font-weight: 700;
}

.sentence
{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 73px;
    margin-right: 73px;
    background-image: url(../img/png/sentence.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.sentence p
{
    color: var(--c-blue);
    font-family: var(--ff-charter);
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    padding-top: 40px;
    padding-bottom: 75px;
    max-width: 80%;
    margin: 0 auto;
}

.why
{
    padding-top: 109px;
    padding-bottom: 119px;

}

.why__arrow
{
    padding-left: 95px;
    padding-top: 55px;
    padding-bottom: 51px;
    background-image: url(../img/png/why__arrow.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.why .why__arrow p
{
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 85%;
}

.why .post
{
    margin-left: 27px;
}

.why__right
{
    margin-left: 30px;
    margin-top: 25px;
}

.why__aside__title
{
    color: var(--c-blue);
    font-family: var(--ff-charter);
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 18px;
}

.why ul
{
    margin-bottom: 33px;
}

.why li
{
    padding-left: 19px;
    margin-bottom: 10px;
    position: relative;
}

.why li:before
{
    position: absolute;
    content: '•';
    left: 0;
    top: 0%;
    color: #66abe3;
    font-size: 25px;
    line-height: 24px;
}

.format
{
}

.format__title
{
    color: var(--c-blue);
    font-family: var(--ff-charter);
    font-size: 50px;
    font-weight: 700;
    line-height: 99px;
}

.format__desc
{
    color: var(--c-blue);
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 63px;
}

.format img
{
    width: 420px;
    height: 225px;
    background-color: var(--c-green);
    display: block;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 23px;
}

@media (max-width: 600px)
{
    .format img
    {
        width: 354px;
        height: 189px;
    }
}

.fiveMinute
{
    margin-top: 130px;
    margin-left: 73px;
    margin-right: 73px;
    background-repeat: no-repeat;
    background-image: url(../img/png/fiveMinutebg.png);
    padding-top: 50px;
    padding-bottom: 39px;
    -webkit-background-size: cover;
    background-size: cover;
}

@media (max-width: 600px)
{
    .fiveMinute
    {
        margin-left: 0;
        margin-right: 0;

    }
}

.fiveMinute__left
{
    display: flex;
    margin-left: -22px;
}

@media (max-width: 600px)
{
    .fiveMinute__left img
    {
        max-width: 224px;
        max-height: 159px;
    }
}

.fiveMinute__left__number
{
    font-family: var(--ff-charter);
    font-size: 202px;
    font-weight: 700;
    line-height: 1;
    padding-left: 25px;
}

@media (max-width: 600px)
{
    .fiveMinute__left__number
    {
        font-size: 145px;
        font-weight: 700;
        line-height: 174px;
        /*line-height: 1;*/
        /*padding-left: 0;*/
        text-align: center;
    }
}

.fiveMinute__left__desc
{
    font-family: var(--ff-charter);
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    line-height: 22.4px;
    margin-top: -13px;
}

.fiveMinute__right
{
    padding: 40px 40px;
    padding-right: 0;
}

.fiveMinute__right .read
{
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 26px;
}

.fiveMinute__right .btn_pdf
{
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.fiveMinute__right .fa-file-pdf
{
    margin-left: 33px;
    margin-right: 6px;
}

.fiveMinute__right .readOn
{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: inline;
    cursor: pointer;
}

.readOn_text
{
    border-bottom: 1px dashed rgba(20, 51, 82, 0.16);
    margin-right: 5px;
}

.help
{
    padding-top: 94px;
}

.help h2
{
    padding-bottom: 18px;
}

.help_bggrey, .help_bggreen
{
    margin-top: 39px;
}

.help_bggrey
{
    padding: 45px 40px;
    padding-right: 30px;
    height: 634px;
    background-repeat: no-repeat;
    background-image: url(../img/png/help_bggrey.png);
    background-position: bottom right;
    border-radius: 3px;
}

.help_bggrey h2
{
    padding-bottom: 10px;
}

.help_bggreen
{
    background-position: top right;
    padding: 32px 21px;
    background-repeat: no-repeat;
    background-image: url(../img/png/help_bggreen.png);
    margin-bottom: 20px;
    height: 180px;
    border-radius: 3px;
    padding-left: 35px;
}

.help ul
{
    margin-top: -6px;
}

.help ul li
{
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 10px;
}

.help_bggreen h2
{
    padding-bottom: 8px;
}

.help_bgrose
{
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url(../img/png/help_bgrose.png);
    padding-top: 24px;
    padding-left: 34px;
    border-radius: 3px;
    padding-right: 20px;
    height: 430px;
}

.help .help_bgrose p
{
    margin-bottom: 6px;
}

.help_bgrose h2
{
    font-size: 27px;
    line-height: 32px;
    padding-bottom: 10px;
    padding-top: 6px;
}

.help_borderDash
{
    padding-top: 49px;
    padding-left: 44px;
    padding-right: 20px;
    height: 430px;
}

.help_borderDash h2
{
    font-size: 27px;
    line-height: 32px;
    padding-bottom: 10px;
}

.give
{
    padding-top: 90px;
    padding-bottom: 36px;
}

.give h2
{
    line-height: 1;
}

.give__desc
{
    padding-top: 25px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 85px;
}

.give__set h2
{
    line-height: 38px;
    padding-bottom: 14px;
}

.give__set p
{
    margin-bottom: 90px;
}

.give .curcle:before
{
    width: 148px;
    height: 122px;
    background-size: cover;
    transform: rotate(-2deg);
    top: -26px;
}

.give .curcle2:before
{
    transform: rotate(53deg);
    top: -14px;
}

.give .curcle3:before
{
    transform: rotate(-29deg);
}

.give .curcle4:before
{
    transform: rotate(-176deg);
    top: -11px;
}

.give .curcle5:before
{
    transform: rotate(-276deg);
    top: -4px;
}

.give .curcle6:before
{
    transform: rotate(-125deg);
    top: 4px;
}

.excurs
{
    /*padding-top: 90px;*/
    margin-left: 73px;
    margin-right: 73px;
}

.excurs__left,
.excurs__right
{
    padding-top: 85px;
    padding-bottom: 60px;

    max-width: 537px;
}

.excurs__left
{
    /*padding-left: 70px;*/
    margin-left: auto;

}

@media (max-width: 600px)
{
    .excurs__left
    {
        padding-left: 0;
    }
}

.excurs__right
{
    /*padding-right: 70px;*/
    margin-right: auto;
    padding-left: 0px;

}

@media (max-width: 600px)
{
    .excurs__right
    {
        margin-right: 0;
    }
}

.excurs__title
{
    font-family: var(--ff-charter);
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    padding-bottom: 19px;
    position: relative;
    z-index: 1;
}

.excurs__right .excurs__title
{
    text-align: right;
    padding-left: 20px;
}

.excurs__left img
{
    margin-top: 17px;
    margin-bottom: 33px;
    width: auto;
}

@media (max-width: 600px)
{
    .excurs__left img
    {
        width: 100%;
        margin-top: -6px;
        margin-bottom: 33px;
    }
}

.excurs .bggrey
{
    border-right: 3px dashed rgba(20, 51, 82, 0.45);
}

.excurs .left__box
{
    padding-left: 35px;
    /*padding-top: 28px;*/

}

.left__box__title
{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}

.left__box__item img
{
    /*margin-top: -28px;*/
}

.left__box__item
{
    padding-bottom: 106px;
}

.excurs__right .btn_t
{
    margin-left: auto;
    display: block;
}

.marketing
{
    padding-top: 155px;
    /*padding-top: 80px;*/
}

.marketing__title
{
    font-family: var(--ff-charter);
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 44px;
}

.marketing .curcle:before
{
    top: -46px;
    width: 155px;
    height: 200px;
    background-size: contain;
}

.marketing__number_arrow
{
    font-size: 40px;
}

.marketing__number
{
    font-family: var(--ff-charter);
    font-size: 89px;
    font-weight: 700;
    line-height: 51px;
    padding-top: 10px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
}

.marketing__btBlock
{
    padding-top: 46px;
}

.marketing .help_bggrey img
{
    width: 100%;
    margin-bottom: 93px;
}

.marketing__box__link
{
    margin: 0 auto;
    display: block;
    width: fit-content;
}

.marketing .help_bggrey
{
    margin-top: 0;
    padding-top: 37px;

}

.marketing .help_bgrose
{
    height: 242px;
    margin-bottom: 30px;
    /*padding-top: 37px;*/
    padding-top: 32px;
    padding-left: 36px;
}

.marketing .help_bgrose h2{
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 14px;
    padding-top: 6px;
}

.marketing .help_bggreen
{
    margin-top: 0;
    height: 387px;
    PADDING-LEFT: 36px;
    padding-top: 36px;
}

.marketing .help_bggreen h2
{
    font-size: 27px;
    line-height: 32px;
    padding-bottom: 18px;
}
.marketing__box__m h2{
    font-size: 27px;
    line-height: 32px;
    padding-bottom: 16px;

}
.marketing .help_bggrey
{
    height: auto;
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.marketing .help_bggrey h2
{
    /*font-size: 27px;*/
}

.marketing .help_borderDash
{
    height: auto;
    height: 217px;
    margin-bottom: 74px;
    padding-top: 35px;
}
.marketing__box__mm{
    text-align: right;
    padding-right: 41px;
}
.marketing__box__mm .righhtbox{
    text-align: left;
}
.marketing__box__mm .righhtbox p{

    font-size: 16px;
}


.helpOpen
{
    margin-top: 78px;
    padding-top: 73px;
    margin-left: 70px;
    margin-right: 70px;
}

.helpOpen__title
{
    font-family: var(--ff-charter);
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    padding-bottom: 26px;
}

.helpOpen__slider
{
    margin-top: 45px;
    margin-bottom: 60px;
    margin-bottom: -113px;
}

.helpOpen p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 80%;
    margin: 0 auto;
}

.helpOpen__item
{
    background-color: var(--c-green);
    width: 350px;
    height: 225px;
}

.helpOpen__btnBox .ptb
{
    text-align: center;
    padding-top: 174px;
}

.helpOpen__btnBox
{
    padding-bottom: 100px;
    border-bottom: 3px dashed rgba(0, 159, 255, 0.5);
}

.preMap
{
    padding-top: 100px;
    margin-bottom: -28px;
}

.preMap__title
{
    font-family: var(--ff-charter);
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    padding-bottom: 35px;
}

.preMap p
{
    padding-bottom: 40px;
}

.preMap button
{
    /*margin-bottom: -63px;*/
    position: relative;
    z-index: 1;
}

.map
{
    height: 550px;
    width: 100%;
    background-color: beige;
}

.contact
{
    margin-top: -95px;
    position: relative;
    margin-left: 70px;
    margin-right: 70px;
    z-index: 2;
    text-align: center;
    padding-bottom: 110px;
    background-image: url(../img/png/contact1.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.contact .row
{
    padding-top: 99px;
}

.contact__title
{
    padding-bottom: 40px;
}

.contact__desc
{
    font-family: var(--ff-charter);
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
}

.contact__left__title
{
    font-family: var(--ff-charter);
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
}

.contact__left a
{
    font-family: var(--ff-charter);
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.contact__left_link
{
    padding-top: 20px;
}

.contact__left__phone
{
    padding-top: 44px;
    padding-bottom: 49px;
}

.contact__left__mail
{
    padding-bottom: 54px;
}

.contact__social
{
    padding-top: 10px;
}

.contact__social .fab
{
    font-size: 32px;
}

.social__vk
{
    margin-right: 18px;
}

.contact .curcle:before
{
    background-image: url(../img/svg/xx.svg);
    transform: rotate(131deg);
    top: 35px;
}

.contact .curcle_x:before
{
    transform: rotate(27deg);
    top: -9px;
}

.form__wrap
{
    padding: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form
{
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (max-width: 600px)
{
    .form .no__manager__box
    {
        position: static;
        line-height: 3;
        padding-left: 22px;
    }

    .form .no__manager__box .checkbox + label:before
    {
        top: -3px;
    }

}

.form_inp
{
    width: 100%;
    margin-bottom: 14px;
}

.form__title
{
    font-size: 42px;
    font-weight: bold;
    line-height: 32px;
    padding-bottom: 20px;
}

.form__btnName{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    z-index: -1;
}

.agree_block
{
    margin-top: -11px;
    padding-bottom: 10px;
}

.no__manager__box
{

    position: absolute;
    right: 10px;
    top: 10px;
}

.no__manager-text
{
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    opacity: .5;
}

.no__manager__box .checkbox:checked + label:after
{
    top: 8px;
    left: 3px;
}

/* Style radio btn*/

.radio
{
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio + label
{
    position: relative;
    padding: 6px 0 0 36px;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;

}

.radio + label:before
{
    content: '';
    position: absolute;
    top: 9px;
    left: 1px;
    border-radius: 50%;
    background: #FFF;
    width: 20px;
    height: 20px;
    border: 2px solid #66abe3;
}

.radio:hover + label:before
{
    border: 2px solid #66abe3;
    /*background-color: #bce0fd;*/
}

.radio + label:after
{
    content: '';
    position: absolute;
    top: 13px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--c-green);
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5); */
    opacity: 0;
    /* transition: .2s; */
}

.radio:checked + label:after
{
    opacity: 1;

}

.radio:checked + label:before
{
    border: 2px solid #66abe3;
}

.radio:focus + label:before
{
    /*box-shadow: 0 0 0 3px rgba(255,255,0,.7);*/
}

.checkbox
{
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.checkbox + label
{
    position: relative;
    padding: 0 0 0 36px;
    cursor: pointer;
}

.checkbox + label:before
{
    content: '';
    position: absolute;
    top: 5px;
    left: 1px;
    width: 20px;
    height: 20px;
    border: 2px solid #66abe3;
    background-color: #ffffff;
    /*transition: .2s;*/
}

/*@media (max-width: 600px){
    .checkbox + label:before{
        top: -4px;
    }
}*/

.checkbox + label:after
{
    content: '';
    background-image: url(../img/svg/white-galka.svg);
    position: absolute;
    top: 7px;
    left: 3px;
    width: 16px;
    height: 16px;
    /*transition: .2s;*/
    display: none;
    padding: 0 0 0px 0px;
    line-height: 7px;
    color: #fff;
    font-size: 22px;
}

.checkbox:checked + label:before
{
    background-color: var(--c-green);
    border-color: var(--c-green);
}

.checkbox:hover + label:before
{

}

.checkbox:checked + label:after
{
    display: block;
}

.checkbox:focus + label:before
{
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);*/
}

/**/

footer
{
    padding: 40px 0;
    color: #143352;
}

.footer__leftBox,
.footer__rightBox,
footer a
{
    color: rgba(20, 51, 82, 0.5);
}

.popupsuccessBox{
    padding-bottom: 20px;
}
.popupsuccessBox .back_line{
    border-bottom: 3px dashed rgba(24, 31, 35, 0.5);
    margin-top: 30px;
    margin-bottom: 30px;
}
.popupsuccessBox  .back_title{
    font-size: 36px;
    margin-bottom: 20px;
}
.popupsuccessBox .back_title_desc{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.popupsuccessBox.back_img{
    padding-top: 20px;
}
.popupsuccessBox .fa-file-pdf {
    margin-left: 33px;
    margin-right: 6px;
}

.paddingFix{
    padding: 0;
}
@media (max-width: 600px)
{

    .paddingFix{
        padding: inherit;
    }
    header, section
    {
        max-width: 100vw;
    }

    .logo
    {
        margin-left: -13px;
    }

    .burger__btn
    {
        /*margin-right: -10px;*/
    }

    .navbar
    {
        position: static;
        /*left: 7px;*/
    }

    .container .row
    {
        margin-left: 0;
        margin-right: 0;
    }

    .mainslide__desc
    {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        padding-top: 11px;
    }

    .mainslide:before
    {
        width: 100%;
        background-position: center;
        background-image: url(../img/jpg/bg_mobile.jpg);
    }

    .about
    {
        padding-top: 30px;
        padding-bottom: 42px;
    }

    .marketing__title
    {
        font-size: 63px;
    }

    .about__videoBtnBox
    {
        position: absolute;
        bottom: 18px;
        left: 46%;
        transform: translateX(-50%);
        display: flex;
    }

    .about .fa-youtube
    {
        font-size: 53px;
        color: #e34a73;
        margin-right: 20px;
    }

    .about .about__videolink
    {
        padding-top: 8px;
        font-size: 15px;
    }

    .gallery
    {
        padding-bottom: 44px;
    }

    .methodic button
    {
        position: absolute;
        bottom: -500px;
    }

    .counter
    {
        margin-left: 0;
        margin-right: 0;
        margin-top: 66px;

    }

    .counter__number
    {
        padding-top: 60px;
    }

    .counter .one
    {
        padding-right: 20px;
    }

    .counter .two
    {
        order: 1;
        margin-left: 0;
        margin-top: -28px;
        max-width: 100%;
        flex-basis: 100%;
    }

    .counter .tree
    {
        margin-left: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .counter .tree:before
    {
        ransform: rotate(0deg);
        left: 10%;
    }

    .counter .four
    {
        order: 2;
        max-width: calc(100% - 60px);
        flex-basis: 100%;
        margin-left: 25px;
        margin-top: 0px;

    }

    .counter__numberBox__titleDesc
    {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .simulators
    {
        padding-top: 74px;
        padding-bottom: 32px;
    }

    .simulators__number
    {
        margin-top: -28px;
    }

    .simulators__slider__item img
    {
        width: 100%;
        margin: 0 auto;
    }

    .simulators__slider
    {
        margin-left: -30px;
        width: calc(100% + 60px);
        padding-top: 46px;
        padding-bottom: 15px;
    }

    .simulators__slider__title
    {
        font-size: 17px;
    }

    .simulators__slider__desc
    {
        font-size: 20px;
    }

    .sentence
    {
        margin-left: 0;
        margin-right: 0;
        padding-top: 58px;
        padding-bottom: 60px;
    }

    .sentence p
    {
        padding-top: 25px;
        max-width: 100%;
        padding-bottom: 25px;
    }

    .why
    {
        padding-top: 83px;
        padding-bottom: 55px;
    }

    .why__arrow
    {
        padding-left: 30px;
        padding-right: 30px;
        background-image: url(../img/png/why__arrow_down.png);
        -webkit-background-size: cover;
        background-size: cover;
        text-align: center;
        padding-top: 50px;
    }

    .why .why__arrow p
    {
        max-width: 100%;
        padding-top: 26px;
        padding-bottom: 34px;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
    }

    .why .post
    {
        margin-left: 0;
        margin-top: 30px;
        display: block;
        margin-bottom: 23px;
    }

    .bgcb
    {
        background: none;
    }

    .bgcg
    {
        background: none;
    }

    .why__right
    {
        text-align: center;
        margin-top: 45px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .why li:before
    {
        display: none;
    }

    .why li
    {
        padding-left: 0;
    }

    .format__title
    {
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
    }

    .format__desc
    {
        padding-top: 26px;
        padding-bottom: 29px;
    }

    .format h2
    {
        font-size: 30px;
    }

    .format img
    {
        margin-top: 41px;
    }

    .m_bdr
    {
        margin-top: 30px;
        border-top: 3px dashed #d8d8d8;
        padding-top: 30px;
    }

    .fiveMinute
    {
        margin-top: 51px;
        padding-bottom: 0px;
    }

    .fiveMinute__left img
    {
        max-width: 100%;
        max-height: 188px;
    }

    .fiveMinute__left__number
    {
        margin-top: -30px;
    }

    .fiveMinute__right
    {
        padding-left: 0;
        padding-top: 45px;
    }

    .fiveMinute__right h2
    {
        font-size: 30px;
        padding-bottom: 12px;
    }

    .fiveMinute__right .read
    {
        line-height: 27px;
    }

    .fiveMinute__right button
    {
        margin: 0 auto;
        display: block;
    }

    .help
    {
        padding-top: 49px;
    }

    .help h2
    {
        padding-bottom: 6px;
    }

    .help p
    {
        font-size: 14px;
    }

    .help ul li
    {
        font-size: 16px;
    }

    .help_bggrey
    {
        margin-top: 11px;
        padding-left: 30px;
        padding-top: 30px;
        height: 552px;
    }

    .help_bggrey h2
    {
        padding-bottom: 18px;
    }

    .help_bggreen h2
    {
        padding-bottom: 24px;
    }

    .help_bggreen,
    .help_bgrose,
    .help_borderDash
    {
        margin-left: -30px;
        width: calc(100% + 60px);

    }

    .help_bggreen
    {
        height: 262px;
        margin-top: 32px;
        margin-bottom: 32px;
        padding-left: 35px;
    }

    .help_bgrose
    {
        margin-bottom: 30px;
        padding-top: 24px;
        padding-left: 36px;
    }

    .help_bgrose h2
    {
        font-size: 28px;
        padding-bottom: 23px;
    }

    .help ul
    {
        margin-top: -6px;
        font-size: 14px;
    }

    .help_borderDash
    {
        padding-top: 30px;
        height: 400px;
    }

    .help_borderDash p
    {
        padding-bottom: 51px;
    }

    .help_borderDash button
    {
        margin: 0 auto;
        display: block;
    }

    .give
    {
        padding-top: 60px;
    }

    .give .big
    {
        font-size: 44px;
    }

    .give__desc
    {
        width: 100%;
        padding-top: 33px;
        padding-bottom: 20px;
    }

    .give__set p
    {
        margin-bottom: 24px;
    }

    .excurs__left,
    .excurs__right
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .excurs__title
    {
        font-size: 27px;
        font-weight: 700;
        line-height: 32px;
    }

    .excurs .bggrey,
    .excurs .bgrose
    {
        border-right: none;
        padding-left: 30px;
        padding-right: 30px;
    }

    .excurs
    {
        margin-left: 0;
        margin-right: 0;
    }

    .excurs__right
    {
        padding-right: 0;
        text-align: left;
    }

    .excurs__right .excurs__title
    {
        text-align: left;
        padding-left: 0;
        padding-top: 14px;
    }

    .excurs .left__box
    {
        padding-left: 0;
    }

    .excurs .left__box__item img
    {
        margin-top: 0;
    }

    .excurs .left__box
    {
        padding-top: 0;
    }

    .left__box__item
    {
        padding-bottom: 16px;
    }

    .excurs__right .btn_t
    {
        margin: 0 auto;
        display: block;
    }

    .marketing
    {
        padding-top: 100px;
    }

    .marketing__title
    {
        padding-bottom: 53px;
    }

    .marketing__number
    {
        padding-bottom: 40px;
    }

    .marketing__btBlock
    {
        padding-top: 53px;
    }

    .marketing .help_bggrey
    {
        margin-top: 0px;
        margin-bottom: 30px;
        padding-top: 31px;
        /*height: 841px;*/
    }

    .marketing .help_bggrey h2
    {
        font-size: 32px;
        font-size: 30px;
    }

    .marketing .help_bgrose h2
    {
        font-size: 32px;
        padding-bottom: 7px;
        line-height: 1.2;
    }

    .marketing .help_bgrose
    {
        height: 361px;
        padding-right: 20px;
        padding-top: 27px;
        padding-left: 30px;
    }

    .marketing .help_bggreen
    {
        height: 371px;
        height: 394px;
    }

    .marketing__box__m
    {
        margin-left: -30px;
        width: calc(100% + 60px);
    }

    .marketing .marketing__box__mm
    {
        margin-left: -40px;
        width: calc(100% + 80px);
        padding: 20px 20px;
        margin-bottom: 43px;
    }

    .marketing .marketing__box__mm h2
    {
        font-size: 25px;

    }

    .marketing .help_borderDash
    {
        height: 390px;
    }

    .helpOpen
    {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        padding-top: 50px;
    }

    .helpOpen__title
    {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
    }

    .helpOpen__slider
    {
        margin-left: -30px;
        width: calc(100% + 60px);
        margin-bottom: 0;
    }

    .helpOpen p
    {
        max-width: 100%;
    }

    .helpOpen__item
    {
        margin-left: 7px;
        margin-right: 7px;
        height: 167px;
    }

    .helpOpen__btnBox .ptb
    {
        text-align: center;
        padding-top: 40px;
    }

    .helpOpen__btnBox
    {
        padding-bottom: 50px;
    }

    .preMap__title
    {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        padding-bottom: 60px;
    }

    .preMap
    {
        padding-top: 58px;
        margin-bottom: -28px;
    }

    .preMap p
    {
        padding-bottom: 25px;
    }

    .map
    {
        height: 383px;
        width: 100%;
        background-color: beige;
    }

    .contact
    {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 30px;
    }

    .contact .row
    {
        padding-top: 53px;
    }

    .contact__title
    {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        padding-bottom: 12px;
    }

    .contact__desc
    {
        font-size: 20px;
        font-weight: 700;
        line-height: 33px;
    }

    .contact__left__phone
    {
        padding-top: 25px;
        padding-bottom: 49px;
    }

    .contact__right
    {
        padding-top: 72px;
    }

    .contact__right__mm
    {
        font-size: 25px;
        font-weight: 700;
        line-height: 33px;
        font-family: var(--ff-charter);
        padding-bottom: 13px;
    }

    footer
    {
        padding: 55px 0;
    }

    .footer__leftBox
    {
        margin-bottom: 51px;
    }

    .footer__leftBox,
    .footer__rightBox
    {
        text-align: center !important;
    }

    .radio + label
    {
        position: relative;
        padding: 6px 0 0 36px;
        line-height: 24px;
        font-size: 13px;
        cursor: pointer;
    }

    .no__manager__box .checkbox:checked + label:after
    {
        top: 0px;
        left: 3px;
    }

    .radio + label:after
    {
        top: 13px;
    }

    button.form__btn.btn_b
    {
        padding: 20px 40px;
        font-size: 18px;
    }
}